#pragma code_page(65001)
#include <windows.h>
#include <commctrl.h>
#include "Resource.h"

IDD_MAIN DIALOGEX 0, 0, 124, 117
CAPTION "GrandmaMeijin"
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
FONT 9, "Yu Gothic UI"
{
    LTEXT "STOPPED", IDC_STATUS, 7, 6, 86, 8
    LTEXT "クリック周期（ms）", -1, 8, 18, 68, 10
    EDITTEXT IDC_PERIOD, 80, 17, 41, 12, ES_NUMBER | ES_AUTOHSCROLL | WS_TABSTOP
    CONTROL "", IDC_PERIOD_SPIN, "msctls_updown32", UDS_ALIGNRIGHT | UDS_SETBUDDYINT | UDS_ARROWKEYS | UDS_NOTHOUSANDS, 111, 17, 10, 12
    LTEXT "押下時間の割合（%）", -1, 8, 37, 68, 10
    EDITTEXT IDC_DUTY, 80, 36, 41, 12, ES_NUMBER | ES_AUTOHSCROLL | WS_TABSTOP
    CONTROL "", IDC_DUTY_SPIN, "msctls_updown32", UDS_ALIGNRIGHT | UDS_SETBUDDYINT | UDS_ARROWKEYS | UDS_NOTHOUSANDS, 111, 36, 10, 12
    LTEXT "", IDC_TIMING, 8, 53, 113, 10
    PUSHBUTTON "開始", IDC_TOGGLE, 8, 67, 113, 14, WS_TABSTOP
    LTEXT "", IDC_HOTKEY_LABEL, 8, 84, 80, 14
    PUSHBUTTON "変更…", IDC_CHANGE, 91, 84, 30, 14, WS_TABSTOP
    LTEXT "クッキーを狙ってください。", -1, 8, 101, 113, 10
}
IDD_HOTKEY DIALOGEX 0, 0, 235, 146
CAPTION "ホットキーの変更"
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 9, "Yu Gothic UI"
{
    AUTOCHECKBOX "Ctrl", IDC_CTRL, 12, 12, 50, 14
    AUTOCHECKBOX "Alt", IDC_ALT, 70, 12, 50, 14
    AUTOCHECKBOX "Shift", IDC_SHIFT, 128, 12, 50, 14
    AUTOCHECKBOX "Win", IDC_WIN, 186, 12, 50, 14
    COMBOBOX IDC_KEY, 12, 34, 145, 130, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "", IDC_PREVIEW, 12, 60, 224, 14
    LTEXT "Fキー以外は修飾キーが必要です。F12はWindows予約キーです。", -1, 12, 79, 223, 14
    DEFPUSHBUTTON "適用", IDOK, 12, 122, 70, 15
    PUSHBUTTON "キャンセル", IDCANCEL, 90, 122, 80, 15
    LTEXT "OSや他アプリが使用中の組み合わせも登録できません。", IDC_NEW, 12, 97, 179, 12
}
